In [13]:
import pandas as pd

In [14]:
data = pd.read_csv('Advertising.csv')
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [15]:
x = data.iloc[:,:-1].values
y=data.iloc[:,-1].values
data.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xtrain = sc.fit_transform(xtrain)
xtest = sc.transform(xtest)

In [30]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100)
model.fit(xtrain,ytrain)
res = model.predict(xtest)
res

array([19.174, 16.392, 10.125, 11.911, 22.134, 12.557,  7.728, 14.89 ,
       20.874, 12.347, 13.473, 15.248, 11.524, 12.066, 14.861, 11.809,
       18.398, 10.672, 11.595, 14.535, 11.53 , 20.581, 10.144,  8.379,
       11.749, 15.181, 16.836, 13.427, 10.22 , 14.45 , 18.339, 15.478,
        8.083, 13.586, 14.227, 21.906, 10.495,  5.22 , 10.69 , 10.068])

In [31]:
len(res)==len(ytest)

True

In [32]:
print(np.concatenate((res.reshape(len(res),1),ytest.reshape(len(ytest),1)),1))

[[19.174 19.4  ]
 [16.392 16.6  ]
 [10.125  9.9  ]
 [11.911 11.5  ]
 [22.134 22.3  ]
 [12.557 13.2  ]
 [ 7.728  6.9  ]
 [14.89  16.   ]
 [20.874 20.8  ]
 [12.347 12.9  ]
 [13.473 12.9  ]
 [15.248 15.2  ]
 [11.524 12.4  ]
 [12.066 11.9  ]
 [14.861 14.1  ]
 [11.809 11.5  ]
 [18.398 19.8  ]
 [10.672 10.7  ]
 [11.595 11.6  ]
 [14.535 15.3  ]
 [11.53  11.3  ]
 [20.581 20.2  ]
 [10.144 10.6  ]
 [ 8.379  9.5  ]
 [11.749 11.7  ]
 [15.181 15.6  ]
 [16.836 15.   ]
 [13.427 12.6  ]
 [10.22   9.7  ]
 [14.45  12.9  ]
 [18.339 18.9  ]
 [15.478 15.9  ]
 [ 8.083  9.3  ]
 [13.586 12.2  ]
 [14.227 14.6  ]
 [21.906 22.6  ]
 [10.495 10.8  ]
 [ 5.22   4.8  ]
 [10.69  10.1  ]
 [10.068  9.3  ]]