In [33]:
import pandas as pd 
import numpy as np

In [34]:
data = pd.read_csv('Advertising.csv')
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [35]:
x = data.iloc[:,:-1].values
y=data.iloc[:,-1].values
data.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [36]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xtrain = sc.fit_transform(xtrain)
xtest = sc.transform(xtest)

In [37]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100)
model.fit(xtrain,ytrain)
res = model.predict(xtest)
res

array([ 8.775,  9.484, 10.178, 20.171, 10.428, 10.509, 16.447,  7.663,
       12.29 , 15.423,  6.263, 10.317, 12.902, 13.007,  9.633, 11.952,
       10.017, 12.149, 16.343, 15.676, 20.07 ,  7.103,  6.065, 14.858,
        6.06 , 20.66 , 10.04 ,  9.835, 14.449, 14.305, 18.446, 12.307,
        8.641, 13.156,  4.429, 19.018, 15.41 , 18.015, 14.513,  8.921])

In [38]:
len(res)==len(ytest)

True

In [39]:
print(np.concatenate((res.reshape(len(res),1),ytest.reshape(len(ytest),1)),1))

[[ 8.775  8.1  ]
 [ 9.484  8.7  ]
 [10.178  9.9  ]
 [20.171 20.2  ]
 [10.428 10.4  ]
 [10.509 10.3  ]
 [16.447 17.3  ]
 [ 7.663  6.9  ]
 [12.29  12.   ]
 [15.423 15.7  ]
 [ 6.263  5.5  ]
 [10.317 10.6  ]
 [12.902 12.8  ]
 [13.007 14.   ]
 [ 9.633  9.5  ]
 [11.952 11.5  ]
 [10.017 10.1  ]
 [12.149 11.5  ]
 [16.343 17.6  ]
 [15.676 14.8  ]
 [20.07  19.7  ]
 [ 7.103  7.   ]
 [ 6.065  4.8  ]
 [14.858 15.5  ]
 [ 6.06   5.3  ]
 [20.66  20.7  ]
 [10.04   9.3  ]
 [ 9.835  9.7  ]
 [14.449 15.3  ]
 [14.305 14.1  ]
 [18.446 17.3  ]
 [12.307 11.9  ]
 [ 8.641  7.6  ]
 [13.156 13.3  ]
 [ 4.429  3.2  ]
 [19.018 19.   ]
 [15.41  15.9  ]
 [18.015 17.1  ]
 [14.513 14.5  ]
 [ 8.921  8.8  ]]